<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SteamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginLogicServlet</display-name>
    <servlet-name>LoginLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.LoginLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogicServlet</servlet-name>
    <url-pattern>/LoginLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationLogicServlet</display-name>
    <servlet-name>RegistrationLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.RegistrationLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationLogicServlet</servlet-name>
    <url-pattern>/RegistrationLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SfogliaGiochiServlet</display-name>
    <servlet-name>SfogliaGiochiServlet</servlet-name>
    <servlet-class>org.elis.controller.SfogliaGiochiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SfogliaGiochiServlet</servlet-name>
    <url-pattern>/SfogliaGiochiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>org.elis.controller.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>org.elis.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileLogicServlet</display-name>
    <servlet-name>ProfileLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.ProfileLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileLogicServlet</servlet-name>
    <url-pattern>/ProfileLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGameLogicServlet</display-name>
    <servlet-name>DeleteGameLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.DeleteGameLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGameLogicServlet</servlet-name>
    <url-pattern>/DeleteGameLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGameLogicServlet</display-name>
    <servlet-name>AddGameLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.AddGameLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameLogicServlet</servlet-name>
    <url-pattern>/AddGameLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServlet</display-name>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <servlet-class>org.elis.controller.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServlet</servlet-name>
    <url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibreriaServlet</display-name>
    <servlet-name>LibreriaServlet</servlet-name>
    <servlet-class>org.elis.controller.LibreriaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibreriaServlet</servlet-name>
    <url-pattern>/LibreriaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneUtenteServlet</display-name>
    <servlet-name>GestioneUtenteServlet</servlet-name>
    <servlet-class>org.elis.controller.GestioneUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneUtenteServlet</servlet-name>
    <url-pattern>/GestioneUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiUtenteServlet</display-name>
    <servlet-name>AggiungiUtenteServlet</servlet-name>
    <servlet-class>org.elis.controller.AggiungiUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiUtenteServlet</servlet-name>
    <url-pattern>/AggiungiUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGameLogicServlet</display-name>
    <servlet-name>UpdateGameLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.UpdateGameLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGameLogicServlet</servlet-name>
    <url-pattern>/UpdateGameLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SfogliaAutoreServlet</display-name>
    <servlet-name>SfogliaAutoreServlet</servlet-name>
    <servlet-class>org.elis.controller.SfogliaAutoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SfogliaAutoreServlet</servlet-name>
    <url-pattern>/SfogliaAutoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GameReviewLogicServlet</display-name>
    <servlet-name>GameReviewLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.GameReviewLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameReviewLogicServlet</servlet-name>
    <url-pattern>/GameReviewLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReviewServlet</display-name>
    <servlet-name>AddReviewServlet</servlet-name>
    <servlet-class>org.elis.controller.AddReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReviewServlet</servlet-name>
    <url-pattern>/AddReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateReviewServlet</display-name>
    <servlet-name>UpdateReviewServlet</servlet-name>
    <servlet-class>org.elis.controller.UpdateReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReviewServlet</servlet-name>
    <url-pattern>/UpdateReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReviewServlet</display-name>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <servlet-class>org.elis.controller.DeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReviewServlet</servlet-name>
    <url-pattern>/DeleteReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>