<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SteamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginLogicServlet</display-name>
    <servlet-name>LoginLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.LoginLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginLogicServlet</servlet-name>
    <url-pattern>/LoginLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationLogicServlet</display-name>
    <servlet-name>RegistrationLogicServlet</servlet-name>
    <servlet-class>org.elis.controller.RegistrationLogicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationLogicServlet</servlet-name>
    <url-pattern>/RegistrationLogicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SfogliaGenereServlet</display-name>
    <servlet-name>SfogliaGenereServlet</servlet-name>
    <servlet-class>org.elis.controller.SfogliaGenereServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SfogliaGenereServlet</servlet-name>
    <url-pattern>/SfogliaGenereServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SfogliaAvventuraServlet</display-name>
    <servlet-name>SfogliaAvventuraServlet</servlet-name>
    <servlet-class>org.elis.controller.SfogliaAvventuraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SfogliaAvventuraServlet</servlet-name>
    <url-pattern>/SfogliaAvventuraServlet</url-pattern>
  </servlet-mapping>
</web-app>